body {
  background-color: #eef6f6;
  margin-top: 0;
}

hr {
  border-color: gray;
  border-style: dotted none none;
  border-width: 7px;
  width: 4%;
}

/* ----- TEXTS ----- */
h1 {
  color: #66bfbf;
}

h3 {
  color: #66bfbf;
}
